<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | WCC | Start Trading</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/status.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <!-- swipper animation css -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">


    <script src="https://kit.fontawesome.com/bbe5d49f9d.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

</head>
<body>
    <div class="dashboard_section">
        <section class="sidebar">
            <div class="navbrand_logo">
                <div class="favicon"></div>
                <div class="tagname"></div>
            </div>
            <nav class="sidebar_nav">
                <ul>
                    <li id="sidebar_nav" class="active"><i class="lnr lnr-diamond"></i><a href="/auth/dashboard">Overview</a></li>
                    <li id="sidebar_nav"><i class="lnr lnr-briefcase"></i><a href="/auth/approval-center">Approval Center</a></li>
                    <li id="sidebar_nav"><i class="lnr lnr-chart-bars"></i><a href="account-status">Account Status</a></li>
                    <li id="sidebar_nav"><i class="lnr lnr-user"></i><a href="/auth/profile">Profile</a></li>
                    <li id="sidebar_nav"><i class="lnr lnr-envelope"></i><a href="#">Notification</a></li>
                    <li id="sidebar_nav"><i class="lnr lnr-cog"></i><a href="#">Settings</a></li>
                    <li id="sidebar_nav"><i class="lnr lnr-power-switch"></i><a href="#">Logout</a></li>
                </ul>
            </nav>   
            <div class="bottom_link">
                <li><a href="#"><i class="lnr lnr-bubble"></i> Chat Us</a></li>
            </div>       
        </section>
        
        <main class="main">
            <div class="dashboard_header">
                <h3><button class="dashboard_icon"><i class="lnr lnr-pie-chart"></i></button>Dashboard</h3>
                <form action="" class="header_search">
                    <i class="lnr lnr-magnifier"></i>
                    <input type="text" name="" id="" placeholder="Search transactions here...">
                </form>
                <div class="right_header-dashboard">
                    <button class="header_btn">
                        <div class="alert_reader"></div>
                        <i class="lnr lnr-alarm"></i>
                    </button>
                    <button class="header_btn">
                        <div class="alert_reader"></div>
                        <i class="lnr lnr-envelope"></i>
                    </button>
                    <button style="color:green;" class="header_btn"><i class="lnr lnr-warning"></i></button>
                    <div class="display_name">
                        <p><%= user.user %></p>
                    </div>
                    <div class="header_avatar">
                        <img src="/users/<%= user.photo %>" alt="" srcset="">
                    </div>
                </div>
            </div>
            <!-- <div class="account_status"><h3><i class="fas fa-exclamation-triangle"></i> Hello <%= user.username %>, you need to activate your account before we process any contract, contact us <a href="#">here</a> to get started</h3></div> -->

            <div class="dashboard_overview">
                <%- body %>
            </div>
        </main>
    </div>

    <div id="toast" class="toast">
        <p>Hello <%= user.username %>, if you have any issue, please chat us <i class="fas fa-comment"></i> <a href="#">here</a></p>
    </div>

    <footer class="footer">

    </footer>
    <script>
        // const data = {
        //     labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        //     series: [
        //         [1, 10, 0, 0, 20, 0, 0, 30, 0, 40, 0, 0],
        //         [0, 0, 40, 0, 0, 50, 0, 0, 60, 0, 0, 0],
        //         [0, 0, 0, 0, 40, 0, 0, 0, 0, 40, 0, 0],
        //         [0, 0, 20,20, 30, 0, 20, 0, 0, 30, 0, 10],
        //         [0, 0, 20, 0, 20, 0, 10, 0, 0, 30, 0, 0],
        //         [0, 0, 20, 30, 0, 0, 50, 0, 0, 30, 0, 20],
        //     ]
        // }
        // const options = {
        //     showArea: true,
        //     showLine: false,
        //     // showPoint: false,
        //     fullWidth: true,
        //     axisX: {
        //         showLabel: true,
        //         showGrid: true
        //     },
        //     seriesBarDistance: 15,
        //     strokeWidth: 1
        // }
        
        // new Chartist.Line(".ct-chart", data, options)
        new Chartist.Bar('.ct-chart', {
        labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        series: [
            [5, 4, 3, 7, 5, 10, 3, 9, 23, 98, 28, 23],
            [15, 2, 21, 21, 15, 30, 32, 19, 24, 38, 18, 24],
            // [45, 24, 23, 27, 25, 20, 13, 4, 23, 9, 2, 3],
            // [15, 44, 33, 37, 25, 50, 33, 29, 23, 48, 48, 43],
        ]
        }, {
        axisX: {
            // On the x-axis start means top and end means bottom
            position: 'start'
        },
        axisY: {
            // On the y-axis start means left and end means right
            position: 'end'
        }
        });
        const style = "background-color: #c02428; font-size: 2rem; "
        console.log("%cWarning! Dont copy any code to any person here, if you do, your account might be hack. Report any suspicious activities to our support department, thanks.", style);
        
    </script>

    <!-- swiper animation script -->
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- swiper animation script end-->

    <script src="/scripts/status.js"></script>
    <script src="/scripts/dashboard.js"></script>
</body>
</html>